{% include header.html %}

<!-- Main -->
<section class="wrapper style1" style="background:#CCCCCC">
    <div class="container" >
        <div class="row double" >

            {% include sidebar.html %}

            <div class="8u skel-cell-important" style="background:#F4F4F4;padding:2%" >
                <div id="content"   >

                    <!-- Content -->

                    <!-- Blog -->
                    <section>
                        <header class="major">
                            <h2>{{ page.title }}</h2>
                            {% if page.date %}
                            <p>Posted {{ page.date | date_to_string }}</p>
                            {% endif %}
                        </header>

                        <div     >
                                <section class="box">
                                    {% if page.icon %}
                                    {% assign pic = page.icon %}
                                    {% else %}
                                    {% assign picint = page.title | size | modulo:10 %}
                                    {% case picint %}
                                    {% when 0 %}
                                    {% assign pic = site.icon_00 %}
                                    {% when 1 %}
                                    {% assign pic = site.icon_01 %}
                                    {% when 2 %}
                                    {% assign pic = site.icon_02 %}
                                    {% when 3 %}
                                    {% assign pic = site.icon_03 %}
                                    {% when 4 %}
                                    {% assign pic = site.icon_04 %}
                                    {% when 5 %}
                                    {% assign pic = site.icon_05 %}
                                    {% when 6 %}
                                    {% assign pic = site.icon_06 %}
                                    {% when 7 %}
                                    {% assign pic = site.icon_07 %}
                                    {% when 8 %}
                                    {% assign pic = site.icon_08 %}
                                    {% when 9 %}
                                    {% assign pic = site.icon_09 %}
                                    {% endcase %}
                                    {% endif %}
									<p style="text-align:center;"> <a href="#" class="image" style="text-align:center;"><img src="{{ pic }}" alt=""/></a></p>
								 
                                    {{ page.content }} 
                                </section>
							
						 </div>
						  
                    </section>

              
            </div>
        </div>
    </div>
</section>
{% include footer.html %}
